# __pycache__ à la racine ou dans n'importe quel sous-dossier
**/__pycache__/
__pycache__/

# fichiers compilés Python
*.py[cod]
*$py.class


# Données locales volumineuses
data/

# Fichiers générés temporaires ou rapports web
*.html
*.img


# Fichiers systèmes (Windows / macOS)
.DS_Store
Thumbs.db

# Fichiers environment
.env
.vscode



mlruns/
notebooks/mlruns/
*.db


consignes/
# dossier des test et essais divers
temp/
